.leftSideBar{
    height: 100%;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.leftSideBar h2{
    margin-top: 2rem;
    text-align: center;
    font-family: var(--font2);
    font-weight: 400;
    color: var(--heading-color);
    font-size: 4rem;
    text-transform: uppercase;
}

.content{
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content p{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--heading-color);
    cursor: pointer;
    width: 90%;
    height: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borderForP{
    border-radius: 2px;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.12);
}

.logoutSection{
    margin-bottom: 2rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logoutSection span{
    font-family: var(--font1);
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--heading-color);
    cursor: pointer;
}

.line{
    height: 1px;
    width: 12rem;
    background-color: var(--black-color);
}