@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Inter:wght@400;700&family=Jomhuria&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500&family=Single+Day&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
   height: 100vh;
   width: 100%;
   position: relative;
   background-color: var(--bg-color-2);
   /* border: 2px solid green; */
}

a{
  /* text-decoration: none; */
  color: black;
}

:root {
  --bg-color-1: #F2F2F2;
  --bg-color-2: #EDEDED;
  --bg-color-3 : #041325;
  --input-bg-color : #F4F4F4;
  --white-color : #FFFFFF;
  --black-color : #000000;
  --error-color : #D60000;
  --button-color : #A9BCFF;
  --heading-color : #474444;
  --delete-btn-color : #FF4B4B;
  --radio-btn-color : #353434;
  --orange-color : #FF5D01;
  --green-color : #60B84B;
  --blue-color : #5076FF;
  --light-blue-color : #B3C4FF;
  --light-grey-color : #9F9F9F;
  --shadow1 : 0 0 30px 0 rgba(0,0,0,.15);;
  --shadow2 : 0 0 50px 0 rgba(0,25,255,.24);
  --font1 : 'Poppins';
  --font2 : 'Jomhuria' 
}

